---
---

/* 1. Importa il font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

/* 2. Sovrascrive le variabili native SASS di Chirpy */
$font-family-base: 'Roboto Mono', monospace;
$font-family-heading: 'Roboto Mono', monospace;

/* 3. Importa il motore del tema */
@import 'main';

/* 4. Forza la sovrascrittura universale a livello CSS */
* {
  font-family: 'Roboto Mono', monospace !important;
}
